<div class="card-deck">
    <div class="card">
      <img src="../../../../assets/brand/15830869825874.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Clásico Español</h5>
        <p class="card-text">El futbol hizo justicia, quien se paró mejor en el campo y ejecutó excelentemente la estrategia táctica. El Real Madrid se lleva el Clásico. Si bien se decía que el Santiago Bernabéu era casa del Barcelona, los merengues hicieron pesar la casa con su gente. https://www.milenio.com/deportes/futbol-internacional/real-madrid-vs-barcelona-goles-resumen-resultado-clasico-espanol.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Precio Final por persona</small>
        <p>$ 10.528.000 </p>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/brand/15830869825874.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Clásico Español</h5>
        <p class="card-text">El futbol hizo justicia, quien se paró mejor en el campo y ejecutó excelentemente la estrategia táctica. El Real Madrid se lleva el Clásico. Si bien se decía que el Santiago Bernabéu era casa del Barcelona, los merengues hicieron pesar la casa con su gente. https://www.milenio.com/deportes/futbol-internacional/real-madrid-vs-barcelona-goles-resumen-resultado-clasico-espanol.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Precio Final por persona</small>
        <p>$ 10.528.000 </p>
      </div>
    </div>
    <div class="card">
      <img src="../../../../assets/brand/15830869825874.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Clásico Español</h5>
        <p class="card-text">El futbol hizo justicia, quien se paró mejor en el campo y ejecutó excelentemente la estrategia táctica. El Real Madrid se lleva el Clásico. Si bien se decía que el Santiago Bernabéu era casa del Barcelona, los merengues hicieron pesar la casa con su gente. https://www.milenio.com/deportes/futbol-internacional/real-madrid-vs-barcelona-goles-resumen-resultado-clasico-espanol.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Precio Final por persona</small>
        <p>$ 10.528.000 </p>
      </div>
    </div>
   

    
</div>

